.main{
    width: 100%;
    height: 500px;
    background: rosybrown;
}
.main_title{
    margin-top: 30rem;
    height:50px;
    margin-bottom: 50px;
    text-align: center;
}
#wrapper {
    width: 100%;
}
#wrapper, body {
    overflow-x: hidden;
}
.pace-done #page-wrapper, .pace-done .footer, .pace-done .nav-header, .pace-done .navbar-static-side, .pace-done li.active {
    -webkit-transition: all .4s;
    transition: all .4s;
}

        #page-wrapper {
            padding: 0 15px;
            min-height: 568px;
            position: relative!important;
        }
        .bg-muted, .gray-bg {
            background-color: #f3f3f4;
        }
